
/* ---- isotope ---- */

.grid {
  /*border: 1px solid #333;*/
  margin-top:70px;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  overflow:hidden;
  float: left;
  width: 25%;
  height: 25vw;
  color: #262524;
  @media only screen and (max-width : 960px) {
    width:33.3333333%;
    height:33.33333vw;
  }
  @media only screen and (max-width : 768px) {
    width:50%;
    height:50vw;
  }
}

.element-item .info {
  display:table;
  height:101%;
  width:101%;
  background:transparentize(#000,.5);
  background: -webkit-radial-gradient(rgba(0,0,0,.4), rgba(0,0,0,.6)); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(0,0,0,.4), rgba(0,0,0,.6)); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(0,0,0,.4), rgba(0,0,0,.6)); /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgba(0,0,0,.4), rgba(0,0,0,.6)); /* Standard syntax */
  position:absolute;
  opacity:0;
  top:0;
  line-height:100%;
  text-align:center;
  margin:auto;
}


/*
.element-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }*/
