$font: 'helvetica,arial,sans-serif';
$bg-color: #f2f2f2;
$nav-color: #000000;
$highlight: #30D7FF;


html {
	background:$bg-color;
}

h1,h2,h3,h4,h5,h6,p,a,li {
  font-family: "alternate-gothic-no-3-d",'Alternate Gothic No3 D';
}

.navbar {
	background:$nav-color;
	border:none;
	border-radius:0;
	.navbar-nav li a, .navbar-brand {
		color:white;
	}
	.nav li a {
		padding:15px 10px;
	}
	.navbar-nav li a {
		font-size:12px;
		letter-spacing:1px;
		position:relative;
		top:2px;
		&:hover {
			color:$highlight;
		}
		@media only screen and (max-width : 768px) {
			font-size:14px;
		}
	}
	.navbar-brand {
		text-transform:uppercase;
		font-size:20px;
		position:relative;
		top:3px;
		&:hover {
			color:$highlight;
		}
		@media only screen and (max-width : 480px) {
			font-size:16px;
    	}
	}
	@media only screen and (max-width : 768px) {
		.navbar-collapse {
			background:#474747;
		}
	}
	.navbar-collapse {
		border:none;
		border-top:none;
	}
}

.navbar-default .navbar-toggle {
	border-color:black;
	&:hover {
		background:none;
		.icon-bar {
		background-color:$highlight;
		}
	}
	&:focus {
		background:none;
	}
	.icon-bar {
		background-color:white;
	}
}