$font: 'helvetica,arial,sans-serif';
$nav-color: #fafafa;
$bg-color: lighten($nav-color,0);
$highlight: #111;


html, body {
	background:$bg-color;
}

h1,h2,h3,h4,h5,h6,p,a,li {
  /*font-family: "alternate-gothic-no-3-d",'Alternate Gothic No3 D';*/
  /*font-family: 'abril fatface';*/
  font-family: 'roboto';
  color:#333;
}
a {
	text-decoration:none;
	&:hover {
		text-decoration:none;
		color:#333;
	}
}

h3 {
	font-size:13px;
	color:#333;
	font-weight:500;
	font-family:roboto;
	&:first-of-type {
		margin-bottom:0;
	}
}

.slide a {
	font-family:'proxima nova';
	color:#5a5a5a;
	text-decoration:underline;
	font-size:12px;
	&:hover {
		color:$highlight;
	};
}

h4 {
	font-size:18;
	color:#5a5a5a;
	font-weight:700;
	margin-top:5px;
}

p {
	font-size:12px;
	color:#5a5a5a;
	font-weight:400;
}

em {
	font-style:italic;
}

.navbar {
	background:$nav-color;
	position:fixed;
	z-index:999;
	width:100%;
	top:0;
	border:none;
	border-radius:0;
	margin-bottom:0;
	padding:10px 10px;
	/*border-bottom:1px solid #f2f2f2;*/
		box-shadow:0 0 20px rgba(0,0,0,.2);
	.navbar-nav li a, .navbar-brand {
		color:#333;
	}
	.nav li a {
		@media only screen and (max-width : 768px) {
			padding:15px 15px;
		}
	}
	.navbar-nav li a {
		font-size:1em;
		letter-spacing:0px;
		position:relative;
		text-transform:none;
		font-weight:700;
		&:hover {
			color:$highlight;
		}
		@media only screen and (max-width : 768px) {
			text-align:center;
		}
	}
	.navbar-brand {
		text-transform:none;
		position:relative;
		font-weight:600;
		span {
			position:relative;
			line-height:1.1em;
			display:inline-block;
			font-size:1em;
			page-break-after:always;
			text-transform:uppercase;
			top:0px;
			&:nth-child(2) {
				font-size:.8em;
				opacity:#5a5a5a;
				letter-spacing:0px;
				text-transform:lowercase;
				opacity:.5;
				font-weight:400;
				&:before {
					content:'';
					display:inline-block;
					padding-right:5px;
				}
			}
		}
		&:hover {
			color:$highlight;
		}
		@media only screen and (max-width : 480px) {
			font-size:16px;
    	}
	}
	@media only screen and (max-width : 768px) {
		.navbar-collapse {
			background:#nav-color;
		}
	}
	.navbar-collapse {
		border:none;
		border:none;
		box-shadow:none;
		-webkit-box-shadow:none;
	}
}

.navbar-default .navbar-toggle {
	border-color:$nav-color;
	&:hover {
		background:none;
		.icon-bar {
		background-color:$highlight;
		}
	}
	&:focus {
		background:none;
	}
	.icon-bar {
		background-color:white;
	}
}

.container {
	padding-top:115px;
}

.center {
	.button-group {
		display:inline-block;
		margin:0 auto 20px;
	}
	text-align:center;
}
$bg-size:120%;
.donut {
	background:url('../img/donut.jpg');
	background-size:$bg-size;
	background-position:center;
}
.shakyshrines {
	background:url('../img/shakyshrinesbg.jpg');
	background-size:$bg-size;
	background-position:center;
}
.headshots {
	background:url('../img/clay.jpg');
	background-size:$bg-size;
	background-position:center;
}
.traveldeeper {
	background:url('../img/traveldeeperbg.jpg');
	background-size:$bg-size;
	background-position:center;
}
.simplyyogurt {
	background:url('../img/simplyyogurtbg.jpg');
	background-size:$bg-size;
	background-position:center;
}
.lexalytics {
	background:url('../img/lexalyticsbg.jpg');
	background-size:$bg-size;
	background-position:center;
}
.showclix {
	background:url('../img/showclixbg.jpg');
	background-size:$bg-size;
	background-position:center;
}
.dead2k15 {
	background:url('../img/2k15bg.jpg');
	background-size:$bg-size;
	background-position:center;
}
.dead2k16 {
	background:url('../img/2k16bg.jpg');
	background-size:$bg-size;
	background-position:center;
}
.balcony {
	background:url('../img/balconybg.jpg');
	background-size:$bg-size;
	background-position:center;
}
.auspeed {
	background:url('../img/auspeedbg.jpg');
	background-size:$bg-size;
	background-position:center;
}
.showclix {
	background:url('../img/showclix.jpg');
	background-size:$bg-size;
	background-position:center;
}
.usbgpgh {
	background:url('../img/usbgpghbg.jpg');
	background-size:$bg-size;
	background-position:center;
}
.appalasian {
	background:url('../img/appalasianbg.jpg');
	background-size:$bg-size;
	background-position:center;
}
.element-item, .element-item.info {
	@include transition(all .05s ease-out);
	translateZ:1;
}
.element-item:hover {
	background-size:100%;
	translateZ:1;
	@include transition(all .3s ease-out);
	.info {
		opacity:1;
		@include transition(all .3s ease-out);
	}
}

.element-item .info .info-centered {
 	display:table-cell;
 	vertical-align:middle;
 	line-height:4em;
 	transform:scale(2,2);
 	opacity:0;
 	/*text-shadow:0 0 50px black;*/
	@include transition(all .05s ease-out);
 	.link {
 		color:white;
 		font-size:3em;
 		text-decoration:underline;
 		font-style:italic;
 		opacity:.8;
 	}
}

.element-item.on .info .info-centered {
	padding-top:0;
	opacity:1;
 	transform:scale(1,1);
	@include transition(all .3s ease-out);
}

 .element-item .info h3 {
    color:white;
    text-align:center;
    font-size:20px;
    margin-top:0;
 }

 .grid img {
 	width:100%;
 }

/* splash vid */
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}

.tint {
	position:fixed;
	height:auto;
	width:100%;
	bottom:0;
	top:0;
	left:0;
	position:absolute;
	background:transparentize(black,.2);
	.screen {
		background:url(../img/screen.png);
		opacity:.5;
		background-size:cover;
		position:absolute;
		z-index:998;
		height:100%;
		width:100%;


	}
	h1 {
		text-align:left;
		/*text-transform:uppercase;*/
		font-size:150px;
		margin-top:0;
		line-height:80px;
	}
	h2 {
		left:180px;
		top:-15px;
		position:relative;
		font-size:40px;
	}
	.absolute-center {
	  position:absolute;
	  z-index:999;
	  width:100%;
	  height:100px;
	  top:50%;
	  left:50%;
	  margin-left:-50%;
	  margin-top:-50px;
	  padding:20px;
	}
	ul {
		position:absolute;
		right:20px;
		bottom:20px;
		/*text-align:center;*/
		li {
			text-align:right;
		}
	}
}

.container {
	width:100%;
	padding:60px 0 0 0;
	.image {
		padding:0;
		/*border-right:1px solid #f2f2f2;*/
		box-shadow:inset 0 0 20px rgba(0,0,0,.9);
	}
	.details {
		padding:50px;
		h2 {
			margin-top:0;
		}
	}
}
.back {
	margin-bottom:15px;
	padding-bottom:5px;
	display:inline-block;
	border-bottom:3px solid transparentize(black,1);
	&:hover {
		border-bottom:3px solid transparentize(black,0);
	}
}
.skillz {
	margin:15px 0 20px;
}
.jumbotron {
	padding:200px 0;
	margin-bottom:0;
	&.travel-deeper {
		background:url('../img/traveldeeperbg.jpg');
		background-size:cover;
	}
	&.auspeed {
		background:url('../img/auspeedbg.jpg');
		background-size:cover;
		background-position:center;
	}
}
